[Unit]
Description=Mount Upper dir for overlay on dedicated partition

[Mount]
What=/dev/mmcblk0p4
Where=/data
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
