[Unit]
Description=initialize overlays on boot

[Service]
Type=simple
Requires=var.mount
After=var.mount
ExecStart=/bin/sh -c 'sleep 5 ; /usr/sbin/fsoverlay-init.sh'
