[Unit]
Description=Mount Upper dir for overlay on dedicated partition

[Mount]
What=/dev/mmcblk0p4
Where=/mnt/var
Type=ext4
Options=upperdir=/mnt/var.lowerdir=/var,workdir=/mnt/.work/var

[Install]
WantedBy=multi-user.target
