[Unit]
Description=The /data directory for the robot.
Requires=userfs.mount
After=userfs.mount

[Mount]
What=/userfs/data
Where=/data
Type=none
Options=rbind

[Install]
WantedBy=multi-user.target
