[Unit]
Description=The /home directory for the robot.
Requires=userfs.mount
After=userfs.mount

[Mount]
What=/userfs/home
Where=/home
Type=none
Options=rbind

[Install]
WantedBy=multi-user.target
