[Unit]
Description=OT3 canbus configuration
After=sys-subsystem-net-devices-can0.device

[Service]
Type=oneshot
# canbus timing parameters set directly to avoid the can driver calculating
# them itself in a way that's annoying to duplicate on the microcontrollers.
# the bitrate is
# NS_PER_S/(TIME_QUANTUM_NS * (PROP_PHASE_TQ + PHASE_SEG1_TQ + PHASE_SEG2_TQ + 1))
# if NS_PER_S is the number of ns in 1s, aka 1e9
Environment=TIME_QUANTUM_NS=100\
    PROP_PHASE_TQ=8\
    PHASE_SEG1_TQ=7\
    PHASE_SEG2_TQ=4\
    SJW_TQ=1\

ExecStartPre=modprobe can
ExecStartPre=modprobe can-raw
# The MCP2518 requires prefetches be word-aligned, and the linux driver
# doesn't respect that on its own (see
# https://community.toradex.com/t/can-problem-on-verdin-i-mx8m-mini/12567/24 )
# so force the prefetch to be 4 (8, 12, etc would also work)
ExecStartPre=/bin/sh -c "echo 4 > /sys/module/mcp25xxfd/parameters/rx_prefetch_bytes"
ExecStart=ip link set can0 up\
    type can\
    restart-ms 100\
    fd on\
    tq $TIME_QUANTUM_NS\
    prop-seg $PROP_PHASE_TQ\
    phase-seg1 $PHASE_SEG1_TQ\
    phase-seg2 $PHASE_SEG2_TQ\
    sjw $SJW_TQ\
    dtq $TIME_QUANTUM_NS \
    dprop-seg $PROP_PHASE_TQ\
    dphase-seg1 $PHASE_SEG1_TQ\
    dphase-seg2 $PHASE_SEG2_TQ\
    dsjw $SJW_TQ\

ExecStop=ip link set can0 down
RemainAfterExit=true
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=opentrons-robot-server.service
