[Unit]
Description=Opentrons update server
Requires=nginx.service
After=nginx.service

[Service]
Type=notify
ExecStart=python3 -m otupdate.openembedded -p 34000
Environment=PYTHONPATH=/opt/opentrons-update-server:/usr/lib/python3.8/site-packages
Restart=on-failure
TimeoutStartSec=3min

[Install]
WantedBy=multi-user.target
